@tailwind base;
@tailwind components;
@tailwind utilities;

.cardclip{
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 1% 0);
}

.gradient-text {
  background: linear-gradient(
  to right,
  #1F51FF,
  #87CEEB,
  #0000FF,
  #87CEEB,
  #1F51FF,
  #87CEEB,
  #0000FF
  );
  background-size: 300% 300%;
  background-clip: text;
  }

  .racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


    @font-face {
      font-family: "trinossolid";
      src: url("./utils/fonts/trinos-solid-font/TrinosStencil-2OywW.ttf" ) format("truetype");
    }
  
    @font-face {
      font-family: "draco";
      src: url("./utils/fonts/Draco.otf" ) format("OpenType");
    }
    @font-face {
      font-family: "proracing";
      src: url("./utils/fonts/ProRacingSlant.otf" ) format("OpenType");
    }
    @font-face {
      font-family: "santos";
      src: url("./utils/fonts/Santos-ywoPq.otf" ) format("OpenType");
    }
    @font-face {
      font-family: "kehlani";
      src: url("./utils/fonts/Kehlani-xRxvR.otf" ) format("OpenType");
    }
  .gradient{
    background: linear-gradient(
  to right,
  #1F51FF,
  #87CEEB,
  #0000FF,
  #87CEEB,
  #1F51FF,
  #87CEEB,
  #0000FF
  );
  background-size: 300% 300%;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .MyGradient {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

 /* Safari-Specific CSS */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    /* Fix for blur and positioning in Safari */
    .safari-blur-fix {
      filter: blur(15px);
      top: 0;
      left: 0;
    }
  }
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}