@tailwind base;
@tailwind components;
@tailwind utilities;

.cardclip{
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 1% 0);
}

.gradient-text {
  background: linear-gradient(
  to right,
  #1F51FF,
  #87CEEB,
  #0000FF,
  #87CEEB,
  #1F51FF,
  #87CEEB,
  #0000FF
  );
  background-size: 300% 300%;
  background-clip: text;
  }

  .racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


    @font-face {
      font-family: "trinossolid";
      src: url("./utils/fonts/trinos-solid-font/TrinosStencil-2OywW.ttf" ) format("truetype");
    }
  
  .gradient{
    background: linear-gradient(
  to right,
  #1F51FF,
  #87CEEB,
  #0000FF,
  #87CEEB,
  #1F51FF,
  #87CEEB,
  #0000FF
  );
  background-size: 300% 300%;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }